[submodule "themes/diary"]
	path = themes/diary
	url = https://github.com/AmazingRise/hugo-theme-diary.git
[submodule "themes/minima"]
	path = themes/minima
	url = https://github.com/mivinci/hugo-theme-minima.git
